/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root{
    --primaryColor: #5486bc;
    // --primaryColorSoft: #13234050;
    --secondaryColor: #2A4058;
    --tertiaryColor: #707070;
    --backgroundColor: #d9d9d9;
    --backgroundColorDarker: #b8b8b8;
    --textColor: #101d34;

}