<mat-toolbar class="toolbar" color="primary">
    <div class="toolbar-content">
        <p>Entrar</p>
        <p>Sobre</p>
    </div> 
    <div class="logo-container">
        <img class="logo" src="ICRR-Logo.png" alt="Logo S.A.S" />
    </div>
</mat-toolbar>


<div class="logo-initial-container">
    <img class="logo" src="ICRR-Logo.png" alt="Logo S.A.S" />
</div>

<div class="title">
 <h1>"Conectando talentos da nossa comunidade"</h1>
</div>


<div class="home-image-container">
    <img class="home-image" src="Home.png" alt="Logo S.A.S" />
</div>

<mat-divider></mat-divider>

<div class="text">
    <p> 
        A Igreja Cultura do Reino acredita no potencial de seus membros e deseja conectar talentos a oportunidades. 
    </p>
    <p>
        Por isso, desenvolvemos uma plataforma exclusiva para o cadastro de currículos, facilitando a busca por profissionais qualificados dentro da nossa comunidade.
    </p>
</div>

<div class="button-container">

    <button mat-raised-button class="button" (click)="redirectToUserLogin()">Cadastrar meu currículo</button>
</div>

<mat-divider></mat-divider>

<div class="text">

    <p>
        Para os recrutadores, oferecemos uma ferramenta de busca avançada, onde é possível filtrar currículos por palavras-chave, área de atuação, nível de formação e outros critérios, tornando mais fácil encontrar o profissional certo para cada oportunidade.
    </p>
    <p>
        Nosso objetivo é fortalecer os vínculos entre os membros da igreja, promovendo crescimento profissional e novas conexões no mercado de trabalho.
    </p>    
</div>

<div class="button-container">
    <button mat-raised-button class="button" >Entrar como recrutador</button>
</div>


<div class="title">
    <h2>Igreja Cultura do Reino</h2>
</div>

<div class="logo-initial-container">
    <img class="logo" src="ICRR-Logo.png" alt="Logo S.A.S" />
</div>

<div class="cards-content">
    <mat-card class="blue-card">
        <mat-card-header>
            <mat-card-title>Culto Domingo</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>10h</p>
        </mat-card-content>
    </mat-card>

    <div class="white-card">

            <p>Venha nos visitar!</p>

    </div>

    <mat-card class="blue-card">
        <mat-card-header>
            <mat-card-title>Culto Domingo</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>19h</p>
        </mat-card-content>
    </mat-card>
</div>


<div class="location">
    <mat-icon>location_on</mat-icon><p>Rua São Paulo, 123 - Centro - São Paulo - SP</p>
</div>

<div class="social">
    <div class="social-container">
        <img class="social-logo" src="youtube.png" alt="youtube"> <p>Youtube</p>
    </div>
    <div class="social-container">
        <img  class="social-logo" src="instagram.png" alt="instagram"> <p>Youtube</p>
    </div>
</div>

<footer>
     <div class="footer-content">
        <p>Início</p>
    </div> 
    <div class="logo-container">
        <img class="logo" src="ICRR-Logo.png" alt="Logo S.A.S" />
    </div>
</footer>