<mat-toolbar class="toolbar" color="accent">
  <div class="user-profile">
    <div class="user-avatar">
      <!---Insira a imagem do usuário aqui--->
      <img src="pessoa_icone.svg" alt="Imagem do usuário" />
    </div>
    <div class="user-info">
      <span>Luiz Fernando</span>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Sair</button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>


<div class="curriculum">
  <h1 class="title">Meu Currículo </h1>

  <div class="form-group">

    <h2>Dados Pessoais</h2>

    <form [formGroup]="loginForm" class="form">


      <mat-form-field class="col-span-2" appearance="outline">
        <mat-label>Usuário</mat-label>
        <input matInput formControlName="userName" placeholder="Usuário" required="true" />
      </mat-form-field>

      <mat-form-field class="col-span-2" appearance="outline">
        <mat-label>Usuário</mat-label>
        <input matInput formControlName="userName" placeholder="Usuário" required="true" />
      </mat-form-field>

      <mat-form-field class="col-span-1" appearance="outline">
        <mat-label>Usuário</mat-label>
        <input matInput formControlName="userName" placeholder="Usuário" required="true" />
      </mat-form-field>

      <mat-form-field class="col-span-1" appearance="outline">
        <mat-label>Usuário</mat-label>
        <input matInput formControlName="userName" placeholder="Usuário" required="true" />
      </mat-form-field>

      <mat-form-field class="col-span-1" appearance="outline">
        <mat-label>Usuário</mat-label>
        <input matInput formControlName="userName" placeholder="Usuário" required="true" />
      </mat-form-field>

      <mat-form-field class="col-span-1" appearance="outline">
        <mat-label>Usuário</mat-label>
        <input matInput formControlName="userName" placeholder="Usuário" required="true" />
      </mat-form-field>

      <mat-form-field class="col-span-2" appearance="outline">
        <mat-label>Usuário</mat-label>
        <input matInput formControlName="userName" placeholder="Usuário" required="true" />
      </mat-form-field>

      <mat-form-field class="col-span-2" appearance="outline">
        <mat-label>Usuário</mat-label>
        <input matInput formControlName="userName" placeholder="Usuário" required="true" />
      </mat-form-field>
    </form>

  </div>

  <mat-divider></mat-divider>

  <div class="form-group">

    <h2>Objetivo Profisional</h2>

    <form [formGroup]="loginForm" class="form">


      <mat-form-field class="col-span-2" appearance="outline">
        <mat-label>Usuário</mat-label>
        <input matInput formControlName="userName" placeholder="Usuário" required="true" />
      </mat-form-field>

      <mat-form-field class="col-span-2" appearance="outline">
        <mat-label>Usuário</mat-label>
        <input matInput formControlName="userName" placeholder="Usuário" required="true" />
      </mat-form-field>

      <mat-form-field class="col-span-2" appearance="outline">
        <mat-label>Usuário</mat-label>
        <input matInput formControlName="userName" placeholder="Usuário" required="true" />
      </mat-form-field>

    </form>

  </div>

  <mat-divider></mat-divider>

  <div class="form-group">

    <h2>Formação AcadÇemica</h2>

    <form [formGroup]="loginForm" class="form">


      <mat-form-field class="col-span-2" appearance="outline">
        <mat-label>Usuário</mat-label>
        <input matInput formControlName="userName" placeholder="Usuário" required="true" />
      </mat-form-field>

      <mat-form-field class="col-span-2" appearance="outline">
        <mat-label>Usuário</mat-label>
        <input matInput formControlName="userName" placeholder="Usuário" required="true" />
      </mat-form-field>

      <mat-form-field class="col-span-2" appearance="outline">
        <mat-label>Usuário</mat-label>
        <input matInput formControlName="userName" placeholder="Usuário" required="true" />
      </mat-form-field>

      <mat-form-field class="col-span-1" appearance="outline">
        <mat-label>Usuário</mat-label>
        <input matInput formControlName="userName" placeholder="Usuário" required="true" />
      </mat-form-field>

      <mat-form-field class="col-span-1" appearance="outline">
        <mat-label>Usuário</mat-label>
        <input matInput formControlName="userName" placeholder="Usuário" required="true" />
      </mat-form-field>

    </form>

  </div>

  <mat-divider></mat-divider>




</div>